.hide{
   border-radius: 5px;
   text-align: center;
   position: absolute;
   margin: 0 auto;
   padding: 10px 20px;
   border: 1px solid #644666;
   font-size: 12px;
}

.lesotho-txt, .EC-txt, .FS-txt,
.Gauteng-txt, .Limpopo-txt,
.Mpumalanga-txt, .KZN-txt,
.WC-txt, .NW-txt, .NC-txt {
   top: 35%;
   left: 35%;
}
