.hide{
   border-radius: 5px;
   text-align: center;
   position: absolute;
   margin: 0 auto;
   padding: 10px 20px;
   border: 1px solid #644666;
   color: azure;
   font-size: 12px;
}

.lesotho-txt, .EC-txt, .FS-txt,
.Gauteng-txt, .Limpopo-txt,
.Mpumalanga-txt, .KZN-txt,
.WC-txt, .NW-txt, .NC-txt {
   top: 80%;
   left: 60%;
}

body {
   text-align: center;
   background-color: rgba(6, 38, 57) ;
}

.heading {
   padding-top: 20px;
   font-size: 65px;
   margin-bottom: 50px;
}

.sub-heading {
   color: rgb(237, 245, 252);
   margin-bottom: 30px;
}

svg {
   height: 1100px;
}

#svg-PLK {
   padding-top: 200px;
   padding-right: 30px;
   height: 500px;
}

#svg-NC {
   padding-top: 120px;
   padding-left: 150px;
   height: 500px;
}

#svg-MP {
   padding-top: 200px;
   padding-right: 100px;
   height: 500px;
}

#svg-EC {
   padding-left: 50px;
}

#svg-FS {
   padding-top: 180px;
}

#svg-GP {
   padding-top: 380px;
}

#svg-KZN {
   padding-top: 120px;
   padding-right: 155px;
}

#svg-LES {
   padding-top: 180px;
}

#svg-NW {
   padding-top: 350px;
   padding-left: 50px;
}

#svg-WC {
   padding-left: 120px;
}

.limpImage {
   text-align: left;
}

.MPImage {
   text-align: left;
}

.ECImage {
   text-align: right;
}

.FSImage {
   text-align: right;
}

.GPImage {
   text-align: left;
}

.LESImage {
   text-align: left;
}

.KZNImage {
   text-align: left;
}

.NWImage {
   text-align: right;
}

.WCImage {
   text-align: right;
}

.text-col {
   font-size: 20px;
   text-align: left;
   padding-left: 10px;
   font-family: 'Fira Sans', sans-serif;
}

.text {
   color: rgb(237, 245, 252);
}
